<footer>
    <div>KSA Izegem @ 2022</div>

    <div>
        <a href="{{ facebook_url }}">
            <img src="{{ asset('build/images/facebook.svg') }}" alt="Facebook logo" width="40" height="40">
        </a>

        <a href="{{ instagram_url }}">
            <img src="{{ asset('build/images/instagram.svg')}}" alt="Instagram logo" width="40" height="40">
        </a>
    </div>
</footer>