{% extends 'layout.html.twig' %}

{% block page_contents %}
    <main>
        <h2>Locatie</h2>

        <img src="#" alt="Kaart met de locatie van KSA Izegem">
        <address>
            Izegem 8870<br>
            Meensestraat 100
        </address>

        <h2>Contactgegevens</h2>

        <ul>
            <li>
                <img src="" alt="">
            </li>
        </ul>
    </main>
{% endblock %}