// TODO color variables

:root {
  --primairy-color: #f9f9f9;
  --secondairy-color: #1c1c1c;

  --primairy-accent-color: #f56737;
  --secondairy-accent-color: #03599f;
}

* {
  box-sizing: inherit;
}

.preload-transitions * {
  // Dry this up a bit with SCSS variable
  $null-transition: none !important;

  -webkit-transition: $null-transition;
  -moz-transition: $null-transition;
  -ms-transition: $null-transition;
  -o-transition: $null-transition;
  transition: $null-transition;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }
}

@font-face {
  font-family: CCSignLanguage;
  src: url(../fonts/CCSignLanguage-Italic.woff2) format("woff2"),
    url(../fonts/CCSignLanguage-Italic.woff) format("woff");
  font-weight: 700;
  font-display: swap;
}

//
//@font-face {
//    font-family: Avenir;
//    src: url(~@/assets/fonts/AvenirLTStd-Roman.woff2) format("woff2"),
//    url(~@/assets/fonts/AvenirLTStd-Roman.woff) format("woff");
//    font-weight: 300;
//    font-display: swap;
//}

@font-face {
  font-family: Avenir;
  src: url(../fonts/AvenirLTStd-Medium.woff2) format("woff2"),
    url(../fonts/AvenirLTStd-Medium.woff) format("woff");
  font-weight: 400;
  font-display: swap;
}

//@font-face {
//    font-family: Avenir;
//    src: url(~@/assets/fonts/AvenirLTStd-Black.woff2) format("woff2"),
//    url(~@/assets/fonts/AvenirLTStd-Black.woff) format("woff");
//    font-weight: 700;
//    font-display: swap;
//}

body {
  color: var(--secondairy-color);
  font-family: Avenir, sans-serif;

  position: relative;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-family: CCSignLanguage, sans-serif;
  margin-top: 0;
  font-size: 3rem;
}

.btn {
  color: var(--primairy-color);
  padding: 0.9rem 1.9rem;
  border-radius: 30px;
  margin-top: 1.6rem;
  display: block;
  width: max-content;

  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-header {
  margin: 0;
  margin-left: 1rem;
}

.btn-primary {
  background-color: rgba($color: #f56737, $alpha: 1);
  border: 0.1rem solid var(--primairy-accent-color);
  transition: 400ms;
}

.btn-primary:link {
}
.btn-primary:visited {
}
.btn-primary:hover {
  border: 0.1rem solid var(--primairy-accent-color);
  background-color: rgba($color: #f56737, $alpha: 0.5);
  transition: 400ms;
}
.btn-primary:active {
}

.btn-primary-outlined {
  color: inherit;
  border: 0.1rem solid var(--primairy-accent-color);
  background-color: rgba($color: #f56737, $alpha: 0);
}
.btn-primary-outlined:link {
  transition: 400ms;
}

.btn-primary-outlined:visited {
}

.btn-primary-outlined:hover {
  border: 0.1rem solid var(--primairy-accent-color);
  background-color: rgba($color: #f56737, $alpha: 0.5);
  transition: 400ms;
}

.btn-primary-outlined:active {
}

.btn-secondary {
  color: var(--primairy-color);
  background-color: rgba($color: #03599f, $alpha: 1);
  border: 0.1rem solid var(--secondairy-accent-color);

  transition: 400ms;
}

.btn-secondary:link {
}

.btn-secondary:visited {
}

.btn-secondary:hover {
  border: 0.1rem solid var(--secondairy-accent-color);
  background-color: rgba($color: #03599f, $alpha: 0.7);

  transition: 400ms;
}

.btn-secondary:active {
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  @extend .container;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    img {
      height: 2.5rem;
      width: auto;
    }
  }

  nav {
    a + a,
    a {
      margin-left: 1rem;
      transition: 300ms;
      border-bottom: rgba($color: #1c1c1c, $alpha: 0) 0.1rem solid;
    }

    a:link {
    }
    a:visited {
    }
    a:hover {
      border-bottom: rgba($color: #1c1c1c, $alpha: 1) 0.1rem solid;
      transition: 300ms;
    }
    a:active {
    }
  }

  .header-desktop {
    display: none;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: 992px) {
      display: flex;
    }
  }

  .header-mobile {

    @media (min-width: 992px) {
      display: none;
    }

    .menuToggle {
      display: flex;
      flex-direction: column;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;

      .hamburger {
        z-index: 2;

        margin: auto auto;
        display: flex;
        flex-direction: column;

        width: 29px;
        height: 16px;

        margin: 12px 5.5px;

        span {
          display: flex;
          width: 29px;
          height: 2px;

          margin-bottom: 5px;

          position: relative;

          background-color: var(--secondairy-color);
          border-radius: 3px;
          z-index: 1;

          transform-origin: 5px 0px;
          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
            background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
            opacity 0.55s ease;
        }

        span:first-child {
          transform-origin: 0% 0%;
        }

        span:nth-child(2) {
          transform-origin: 0% 100%;
        }

        span:nth-child(3) {
          margin-bottom: 0;
        }
      }

      input {
        display: flex;
        width: 40px;
        height: 40px;

        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 3;
      }

      input:checked ~ .hamburger > span {
        opacity: 1;
        transform: rotate(45deg);
        background: var(--primairy-color);

      }
      input:checked ~ .hamburger > span:nth-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
      input:checked ~ .hamburger > span:nth-child(2) {
        transform: rotate(-45deg) translate(-8.5px, 9px);
      }

      input:checked ~ ul {
        left: 0;
      }

      .menu {
        position: absolute;
        z-index: 1;

        width: 100vw;
        height: 100vh;

        display: flex;
        flex-flow: column;
        align-items: center;

        box-shadow: 0 0 10px var(--secondairy-color);
        padding-top: 5rem;

        color: var(--primairy-color);
        background-color: var(--secondairy-accent-color);
        -webkit-font-smoothing: antialiased;

        padding-inline-start: 0;
        margin-block-end: 0;
        margin-block-start:0;

        transform-origin: 0% 0%;
        top: 0;
        left: -110%;
        transition: left 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

        a {
          margin: 10px 0;
          transition-delay: 2s;
        }
      }
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;

    .logo {
      margin-right: auto;
      transition: 300ms;
    }

    .logo:link {
    }

    .logo:visited {
    }
    .logo:hover {
      transform-origin: center center;
      transform: scale(90%);
      transition: 300ms;
    }
    .logo:active {
    }
  }
}

.section-banner {
  height: 50vh;
  background-image: url(../images/banner3.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  mask-image: url(../images/bannerMask.svg);
  mask-position: bottom;
  mask-size: cover;
  mask-repeat: no-repeat;
  display: flex;
  align-items: center;

  h1 {
    color: white;
    text-shadow: 1px 1px 1px #333;
  }

  &__content {
    @extend .container;
  }

  @media (min-width: 768px) {
    height: 80vh;
  }
}

.section-general {
  @extend .container;
  display: grid;
  grid:
    "txt1"
    "img1"
    "txt2"
    "img2";
  grid-gap: 1.5rem;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }

  .first-img {
    grid-area: img1;
  }

  .first-text {
    grid-area: txt1;
  }

  .second-img {
    grid-area: img2;
  }

  .second-text {
    grid-area: txt2;
  }

  @media (min-width: 768px) {
    grid:
      "txt1 img1"
      "img2 txt2";
  }
}

footer {
  @extend .container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.leeftijdsgroepen {
  @extend .container;
  margin-top: 1.5rem;

  img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }

  .naam {
    display: grid;
    align-items: end;
    text-transform: capitalize;

    h2,
    abbr {
      grid-area: 1 / 1;
    }

    h2 {
      color: var(--primairy-accent-color);
      margin-bottom: 0;
    }

    abbr {
      color: var(--primairy-accent-color);
      opacity: 0.2;
      font-family: CCSignLanguage, sans-serif;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 6.5rem;
    }
  }

  .leeftijd {
    color: var(--secondairy-accent-color);
  }

  @media (min-width: 768px) {
    .groep {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;

      &:nth-child(even) {
        flex-direction: row-reverse;

        img {
          margin-right: 1.5rem;
        }
      }

      &:nth-child(odd) {
        flex-direction: row;

        img {
          margin-left: 1.5rem;
        }
      }
    }

    img {
      width: 50%;
      margin-left: 1.5rem;
    }
  }
}

.calendar {
  @extend .container;

  margin-top: 1.5rem;
}

.section-address {
  @extend .container;
  margin-top: 1.5rem;

  h2 {
    text-align: center;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin-bottom: 1.5rem;
      width: 100%;
    }

    address {
      font-size: 1.5rem;
      background-image: url(../images/location.svg);
      background-position: left center;
      background-repeat: no-repeat;
      background-size: contain;
      padding-left: 3.5rem;
    }
  }
}

.section-contact {
  @extend .container;
  margin-top: 1.5rem;

  h2 {
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .geleidingen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .geleiding {
      margin: 1.5rem;

      img {
        max-width: 200px;
        margin: 0 auto;
        display: block;
      }

      h3 {
        font-family: CCSignLanguage, sans-serif;
        text-transform: capitalize;
        text-align: center;
        font-size: 1.5rem;
      }

      li {
        margin-bottom: 1rem;
      }

      .age-group,
      .call,
      .mail {
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
        padding-left: 2rem;
        margin-left: 2rem;
      }

      .age-group {
        background-image: url(../images/ageGroup.svg);
      }

      .call {
        background-image: url(../images/call.svg);
      }

      .mail {
        background-image: url(../images/mail.svg);
      }
    }
  }
}
