// TODO color variables

* {
  box-sizing: border-box;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1400px) {
    max-width: 1320px;
  }
}

@font-face {
  font-family: CCSignLanguage;
  src: url(../fonts/CCSignLanguage-Italic.woff2) format("woff2"),
  url(../fonts/CCSignLanguage-Italic.woff) format("woff");
  font-weight: 700;
  font-display: swap;
}

//
//@font-face {
//    font-family: Avenir;
//    src: url(~@/assets/fonts/AvenirLTStd-Roman.woff2) format("woff2"),
//    url(~@/assets/fonts/AvenirLTStd-Roman.woff) format("woff");
//    font-weight: 300;
//    font-display: swap;
//}

@font-face {
  font-family: Avenir;
  src: url(../fonts/AvenirLTStd-Medium.woff2) format("woff2"),
  url(../fonts/AvenirLTStd-Medium.woff) format("woff");
  font-weight: 400;
  font-display: swap;
}

//@font-face {
//    font-family: Avenir;
//    src: url(~@/assets/fonts/AvenirLTStd-Black.woff2) format("woff2"),
//    url(~@/assets/fonts/AvenirLTStd-Black.woff) format("woff");
//    font-weight: 700;
//    font-display: swap;
//}

body {
  color: #333;
  font-family: Avenir, sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-family: CCSignLanguage, sans-serif;
  margin-top: 0;
  font-size: 3rem;
}

.btn {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 15px;
}

.btn-primary {
  background-color: orangered;
}

.btn-primary-outlined {
  color: inherit;
  border: 1px solid orangered;
}

.btn-secondary {
  background-color: cornflowerblue;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  @extend .container;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  .logo {
    img {
      height: 2.5rem;
      width: auto;
    }
  }

  nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    a + a {
      margin-left: 1rem;
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;

    .logo {
      margin-right: auto;
    }
  }
}

.section-banner {
  height: 50vh;
  background-image: url(../images/banner3.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  mask-image: url(../images/bannerMask.svg);
  mask-position: bottom;
  mask-size: cover;
  mask-repeat: no-repeat;
  display: flex;
  align-items: center;

  h1 {
    color: white;
    text-shadow: 1px 1px 1px #333;
  }

  &__content {
    @extend .container;
  }

  @media (min-width: 768px) {
    height: 80vh;
  }
}

.section-general {
  @extend .container;
  display: grid;
  grid:
    'txt1'
    'img1'
    'txt2'
    'img2';
  grid-gap: 1.5rem;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }

  .first-img {
    grid-area: img1;
  }

  .first-text {
    grid-area: txt1;
  }

  .second-img {
    grid-area: img2;
  }

  .second-text {
    grid-area: txt2;
  }

  @media (min-width: 768px) {
    grid:
      'txt1 img1'
      'img2 txt2';
  }
}

footer {
  @extend .container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.leeftijdsgroepen {
  @extend .container;

  img {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: block;
  }

  .naam {
    display: grid;
    align-items: end;
    text-transform: capitalize;

    h2, abbr {
      grid-area: 1 / 1;
    }

    h2 {
      color: orangered;
      margin-bottom: 0;
    }

    abbr {
      color: rgba(255, 0, 69, 0.3);
      font-family: CCSignLanguage, sans-serif;
      text-decoration: none;
      font-size: 5rem;
    }
  }

  .leeftijd {
    color: cornflowerblue;
  }

  @media (min-width: 768px) {
    .groep {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;

      &:nth-child(even) {
        flex-direction: row-reverse;

        img {
          margin-right: 1.5rem;
        }
      }

      &:nth-child(odd) {
        flex-direction: row;

        img {
          margin-left: 1.5rem;
        }
      }
    }

    img {
      width: 40%;
      margin-left: 1.5rem;
    }
  }
}

.calendar {
  @extend .container;

  margin-top: 1.5rem;
}

.section-address {
  @extend .container;
  margin-top: 1.5rem;

  h2 {
    text-align: center;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin-bottom: 1.5rem;
      width: 100%;
    }

    address {
      font-size: 1.5rem;
      background-image: url(../images/location.svg);
      background-position: left center;
      background-repeat: no-repeat;
      background-size: contain;
      padding-left: 3.5rem;
    }
  }
}

.section-contact {
  @extend .container;
  margin-top: 1.5rem;

  h2 {
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .geleidingen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .geleiding {
      margin: 1.5rem;

      img {
        max-width: 200px;
        margin: 0 auto;
        display: block;
      }

      h3 {
        font-family: CCSignLanguage, sans-serif;
        text-transform: capitalize;
        text-align: center;
        font-size: 1.5rem;
      }

      li {
        margin-bottom: 1rem;
      }

      .age-group, .call, .mail {
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
        padding-left: 2rem;
        margin-left: 2rem;
      }

      .age-group {
        background-image: url(../images/ageGroup.svg);
      }

      .call {
        background-image: url(../images/call.svg);
      }

      .mail {
        background-image: url(../images/mail.svg);
      }
    }
  }
}